* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    width: 100vw;
    background-color: hsl(212, 45%, 89%);
}

#container {
    width: 40%;
    margin: 100px auto;
    border: 2px solid red;
    background-color: hsl(0, 0%, 100%);

}